<%- include('partials/header')%>
<!--  -->
<%- include('partials/nav')%>
<form action="/get-email" method="post" class="m-auto w-25 mt-5">
    <h1 class="mb-4">Enter Existing Email</h1>
    <input
        class="form-control mb-3"
        type="email"
        placeholder="example@john.com"
        name="email"
    />
    <button class="btn btn-danger">Send Mail</button>
    <p><a class="text-decoration-none" href="/signin"> signin </a> | <a class="text-decoration-none" href="/signup"> signup</a></p>
</form>

<%- include('partials/footer')%>
