<%- include("./partials/header") %>
<%- include("./partials/nav") %>
<div class="w-100 h-100 d-flex">
    <div>
        <img class="w-100 p-5" src="https://images.unsplash.com/photo-1491841573634-28140fc7ced7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80" alt="">
    </div>
    <div class="landingContent w-50">
      <h1 class="tagLine"><span class="f1 text-danger">"</span>Chapter<span class="text-danger f1">Quest:</span>  <br> Your Digital Library<span class="text-danger">"</span></h1>
      <p class="tagLinePara">"Discover, Explore, and Download: Welcome to our E-Book Directory! Find a vast collection of digital books spanning various genres, from classics to contemporary works. Browse, search, and access your favorite e-books all in one place."</p>
      <button class="mt-2 btn btn-lg bg-danger w-75"><a class="text-decoration-none text-light" href="/signup">Let's Go!</a></button>
    </div>
</div>
<%- include("./partials/footer") %>

 
